Repository G12-ISPP/ISPP, pull requests merged in 2024-02, with the labels that each got.

#76 Initial entities created Fix#52
  backend/main/settings.py
  backend/opinion/__init__.py
  backend/opinion/admin.py
  backend/opinion/apps.py
  backend/opinion/migrations/0001_initial.py
  backend/opinion/migrations/0002_initial.py
  backend/opinion/migrations/__init__.py
  backend/opinion/models.py
  backend/opinion/tests.py
  backend/opinion/views.py
  backend/order/__init__.py
  backend/order/admin.py
  backend/order/apps.py
  backend/order/migrations/0001_initial.py
  backend/order/migrations/0002_initial.py
  backend/order/migrations/0003_initial.py
  backend/order/migrations/__init__.py
  backend/order/models.py
  backend/order/tests.py
  backend/order/views.py
  backend/products/__init__.py
  backend/products/admin.py
  backend/products/apps.py
  backend/products/migrations/0001_initial.py
  backend/products/migrations/0002_initial.py
  backend/products/migrations/__init__.py
  backend/products/models.py
  backend/products/tests.py
  backend/products/views.py
  backend/users/__init__.py
  backend/users/admin.py
  backend/users/apps.py
  backend/users/migrations/0001_initial.py
  backend/users/migrations/__init__.py
  backend/users/models.py
  backend/users/tests.py
  backend/users/views.py
Labels: backend, feature

#101 Feat/registro usuarios
  backend/main/urls.py
  backend/users/admin.py
  backend/users/migrations/0002_remove_customuser_name.py
  backend/users/migrations/0003_alter_customuser_postal_code.py
  backend/users/models.py
  backend/users/serializer.py
  backend/users/urls.py
  backend/users/views.py
  frontend/src/App.jsx
  frontend/src/components/Navigation.jsx
  frontend/src/components/RegisterForm.jsx
  frontend/src/index.css
  frontend/src/pages/RegisterFormPage.jsx
Labels: frontend, backend

#102 Feat/inicio sesion-cerrar sesion
  backend/main/settings.py
  backend/requirements.txt
  backend/users/urls.py
  backend/users/views.py
  frontend/src/App.jsx
  frontend/src/components/LoginForm.jsx
  frontend/src/components/Navigation.jsx
  frontend/src/pages/LoginFormPage.jsx
Labels: frontend, backend

#106 Feat: Nuevos componentes de la interfaz
  frontend/src/App.jsx
  frontend/src/assets/bx-cart.svg
  frontend/src/assets/bx-search.svg
  frontend/src/assets/bx-star.svg
  frontend/src/assets/bxs-star.svg
  frontend/src/assets/design_buzz_lightyear.jpg
  frontend/src/assets/logo.png
  frontend/src/components/Artist/Artist.css
  frontend/src/components/Artist/Artist.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Product/Product.css
  frontend/src/components/Product/Product.jsx
  frontend/src/index.css
Labels: frontend

#111 Feat: Creación página principal
  backend/products/views.py
  frontend/src/App.jsx
  frontend/src/assets/bxl-facebook-circle.svg
  frontend/src/assets/bxl-instagram.svg
  frontend/src/assets/bxl-twitter.svg
  frontend/src/assets/default_artist_image.png
  frontend/src/assets/default_product_image.png
  frontend/src/assets/design_buzz_lightyear.jpg
  frontend/src/components/Artist/Artist.css
  frontend/src/components/Artist/Artist.jsx
  frontend/src/components/Footer/Footer.css
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Product/Product.css
  frontend/src/components/Product/Product.jsx
  frontend/src/components/ProductsGrid/ProductsGrid.css
  frontend/src/components/ProductsGrid/ProductsGrid.jsx
  frontend/src/components/Text/Text.css
  frontend/src/components/Text/Text.jsx
  frontend/src/index.css
  frontend/src/pages/MainPage.jsx
Labels: frontend

#117 Fix: Corregido error al guardar y mostrar imágenes
  backend/main/urls.py
  backend/products/migrations/0003_product_image.py
  backend/products/migrations/0004_remove_product_imageroute_alter_product_image.py
  backend/products/migrations/0005_product_imageroute.py
  backend/products/models.py
  backend/products/serializer.py
  backend/products/views.py
  backend/requirements.txt
  frontend/src/components/Product.jsx
  frontend/src/components/Product/Product.jsx
  frontend/src/components/ProductsGrid/ProductsGrid.jsx
Labels: bug

#118 Fix: Correcciones en la página inicial
  backend/users/migrations/0006_alter_customuser_postal_code.py
  backend/users/models.py
  frontend/src/components/Artist/Artist.jsx
  frontend/src/components/ArtistsGrid/ArtistsGrid.css
  frontend/src/components/ArtistsGrid/ArtistsGrid.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/components/Product/Product.css
  frontend/src/components/Product/Product.jsx
  frontend/src/components/RegisterForm/RegisterForm.jsx
  frontend/src/index.css
  frontend/src/pages/MainPage.jsx
Labels: frontend

#122 Fix: Correción botón logout
  frontend/src/components/Header/Header.jsx
Labels: bug

#126 Feature/modificar añadir producto/119
  backend/products/views.py
  frontend/src/components/AddProduct.css
  frontend/src/components/AddProduct.jsx
  frontend/src/main.jsx
Labels: feature

#128 fix: cambios en el logout y en el formulario de añadir producto
  backend/users/urls.py
  backend/users/views.py
  frontend/src/App.jsx
  frontend/src/components/AddProduct.jsx
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Logout.jsx
Labels: bug

#133 Feat: Página inicial responsive
  frontend/src/assets/bx-menu.svg
  frontend/src/assets/bx-x.svg
  frontend/src/components/Artist/Artist.css
  frontend/src/components/ArtistsGrid/ArtistsGrid.css
  frontend/src/components/Button/Button.css
  frontend/src/components/Footer/Footer.css
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Product/Product.css
  frontend/src/components/ProductsGrid/ProductsGrid.css
  frontend/src/components/ProductsGrid/ProductsGrid.jsx
  frontend/src/index.css
  frontend/src/pages/MainPage.jsx
Labels: frontend

#136 Fix/135 Corrección mostrado de imágenes en el carrito de compra
  frontend/src/components/Cart/Cart.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Product.jsx
Labels: bug

#138 Fix/137 Validación código postal
  backend/users/models.py
Labels: bug, backend

#140 Feature/62 script de correos
  backend/custom_design/templates/confirmation_email.html
  backend/custom_design/views.py
  backend/main/settings.py
  backend/order/templates/order_confirmation_email.html
  backend/order/views.py
  frontend/src/components/LoginForm/LoginForm.jsx
Labels: backend

#144 Fix/142 Corrección de múltiples estilos
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.jsx
  frontend/src/components/CustomDesign.css
  frontend/src/components/CustomDesign.jsx
  frontend/src/components/Product.css
  frontend/src/components/Product.jsx
  frontend/src/components/User.css
  frontend/src/components/User.jsx
  frontend/src/index.css
Labels: frontend
