Repository G12-ISPP/ISPP, pull requests merged in 2024-04, with the labels that each got.

#371 Corregidas las mejoras id-8 e id-9
  backend/users/views.py
  frontend/src/components/CustomDesign.jsx
  frontend/src/components/RegisterForm/RegisterForm.jsx
Labels: S3 UP feedback

#374 feat/364 corregidas las mejoras de los usuarios piloto S3-4
  backend/users/views.py
  frontend/src/components/AddOpinion.jsx
  frontend/src/components/AddProduct.jsx
  frontend/src/components/EditProduct.jsx
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/components/Product.css
  frontend/src/components/Product.jsx
  frontend/src/components/User.jsx
Labels: S3 UP feedback

#381 Feature: Listado de usuarios del administrador
  backend/users/views.py
  frontend/src/App.jsx
  frontend/src/components/Admin/Admin.css
  frontend/src/components/Admin/Admin.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/User.css
  frontend/src/components/User.jsx
  frontend/src/components/UsersList/UsersList.css
  frontend/src/components/UsersList/UsersList.jsx
Labels: feature

#384 Fix: Mostrado de imagen de perfil en chat
  frontend/src/components/Chat/UserChatList.jsx
Labels: bug

#382 Test Plan diseñador
  backend/products/tests.py
Labels: test

#385 Test 213 plan comprador
  backend/order/views.py
  backend/products/tests.py
Labels: test

#389 Feat: Mis seguidos
  backend/users/serializer.py
  backend/users/urls.py
  backend/users/views.py
  frontend/src/App.jsx
  frontend/src/components/Artist/Artist.jsx
  frontend/src/components/FollowingList.css
  frontend/src/components/FollowingList.jsx
  frontend/src/components/User.jsx
Labels: feature

#386 Feat: Rediseño detalles de producto
  frontend/src/components/Product.css
  frontend/src/components/Product.jsx
  frontend/src/components/ProductsGrid/ProductsGrid.jsx
  frontend/src/components/ProfileIcon/ProfileIcon.css
  frontend/src/components/ProfileIcon/ProfileIcon.jsx
Labels: frontend, feature

#388 Feature dar me gusta a un post
  backend/community/migrations/0005_like.py
  backend/community/models.py
  backend/community/urls.py
  backend/community/views.py
  frontend/src/components/Post/Post.jsx
Labels: feature

#390 Feature/335 feature reportar un producto
  backend/main/settings.py
  backend/main/urls.py
  backend/report/__init__.py
  backend/report/admin.py
  backend/report/apps.py
  backend/report/migrations/0001_initial.py
  backend/report/migrations/__init__.py
  backend/report/models.py
  backend/report/serializer.py
  backend/report/tests.py
  backend/report/urls.py
  backend/report/views.py
  frontend/src/components/AddProductReport.css
  frontend/src/components/AddProductReport.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Product.jsx
Labels: feature

#394 Fix: Corregida pantalla de registro
  frontend/src/assets/eye-slash-solid.svg
  frontend/src/assets/eye-solid.svg
  frontend/src/components/LoginForm/LoginForm.css
  frontend/src/components/RegisterForm/RegisterForm.css
  frontend/src/components/RegisterForm/RegisterForm.jsx
Labels: bug, frontend

#395 Feature/366 mejoras up s3 6
  backend/opinion/views.py
  frontend/src/assets/herramientas.png
  frontend/src/components/AddOpinion.jsx
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
  frontend/src/components/RegisterForm/RegisterForm.jsx
  frontend/src/pages/MainPage.jsx
  frontend/src/tests/MainPage.test.jsx
Labels: frontend, backend, S3 UP feedback

#396 Feature/365 feature mejoras up s3 5
  backend/chat/tests.py
  backend/custom_design/tests.py
  backend/opinion/tests.py
  backend/order/tests.py
  backend/products/tests.py
  backend/users/migrations/0012_alter_customuser_email.py
  backend/users/models.py
  frontend/src/components/Cart/Cart.jsx
  frontend/src/components/CustomDesign.jsx
  frontend/src/components/Post/Post.jsx
  frontend/src/components/RegisterForm/RegisterForm.jsx
  frontend/src/components/User.jsx
Labels: feature, S3 UP feedback

#403 Test/347 reportar producto
  backend/report/tests.py
  backend/report/views.py
Labels: backend, test

#402 Feature/367 feature mis solicitudes de impresión
  backend/custom_design/urls.py
  backend/custom_design/views.py
  frontend/src/App.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/RegisterForm/RegisterForm.jsx
  frontend/src/components/User.jsx
  frontend/src/pages/RequestsPage.jsx
Labels: feature

#399 Feature/368 por imprimir
  backend/custom_design/tests.py
  backend/custom_design/urls.py
  backend/custom_design/views.py
  frontend/src/App.jsx
  frontend/src/components/Design/CustomDesign.jsx
  frontend/src/components/ProductsList.jsx
  frontend/src/components/User.jsx
  frontend/src/pages/ToPrintPage.jsx
Labels: frontend, backend, feature

#410 Feat: Rediseño de solicitar impresión
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CustomDesign.css
  frontend/src/components/CustomDesign.jsx
Labels: frontend, feature

#412 Feature/340 eliminar producto
  backend/products/urls.py
  backend/products/views.py
  frontend/src/components/DeleteConfirmationModal.css
  frontend/src/components/DeleteConfirmationModal.jsx
  frontend/src/components/Product.jsx
Labels: feature

#413 Test 202 registro de usuario con foto de perfil
  backend/users/tests.py
Labels: test

#422 Feat: Comentar un post
  backend/comment/__init__.py
  backend/comment/admin.py
  backend/comment/apps.py
  backend/comment/migrations/0001_initial.py
  backend/comment/migrations/0002_remove_comment_created_at.py
  backend/comment/migrations/__init__.py
  backend/comment/models.py
  backend/comment/serializer.py
  backend/comment/tests.py
  backend/comment/urls.py
  backend/comment/views.py
  backend/main/settings.py
  backend/main/urls.py
  frontend/src/components/DeleteConfirmationModal.css
  frontend/src/components/Header/Header.jsx
  frontend/src/components/ModalComment/ModalComment.css
  frontend/src/components/ModalComment/ModalComment.jsx
  frontend/src/components/Post/Post.css
  frontend/src/components/Post/Post.jsx
  frontend/src/components/Product.jsx
  frontend/src/components/ProfileIcon/ProfileIcon.jsx
Labels: feature

#415 test: test de delete_product
  backend/products/tests.py
Labels: test

#423 Feat: Rediseño de la página de subir producto
  frontend/src/components/AddProduct.css
  frontend/src/components/AddProduct.jsx
  frontend/src/tests/AddProduct.test.jsx
Labels: frontend, feature

#421 Feature/417 error fallo en los detalles de custom design
  backend/custom_design/views.py
  frontend/src/components/CustomDesignDetails.jsx
  frontend/src/components/Design/CustomDesignPrinters.jsx
Labels: bug, frontend, backend

#418 Feature/363-mejoras-up-s3-3
  backend/order/migrations/0013_alter_orderactiontoken_expires_at.py
  frontend/src/components/Artist/Artist.jsx
  frontend/src/components/ItemsList/ItemsList.css
  frontend/src/components/ProductsList.jsx
Labels: feature

#439 Fix: Correcciones de la interfaz
  frontend/src/components/AddProduct.css
  frontend/src/components/CustomDesign.css
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Post/PostDetail.css
  frontend/src/components/Product.css
  frontend/src/components/User.css
  frontend/src/index.css
  frontend/src/pages/MainPage.jsx
  frontend/src/tests/MainPage.test.jsx
Labels: bug, frontend

#442 Feature 431 mejoras usuarios s3-11
  backend/community/urls.py
  backend/community/views.py
  frontend/src/components/ModalComment/ModalComment.jsx
  frontend/src/components/Post/PostDetail.css
  frontend/src/components/Post/PostDetail.jsx
Labels: feature

#443 Test: Edición perfil
  backend/users/testcase/user.png
  backend/users/tests.py
Labels: test
