Repository G12-ISPP/ISPP, pull requests merged in 2024-03, with the labels that each got.

#146 Fix/145
  frontend/src/components/Cart/Cart.jsx
  frontend/src/components/CustomDesign.jsx
Labels: bug

#148 fix: errores de ortografía arreglados
  backend/population/02_Products.json
Labels: bug

#161 Test/92 test subir objeto
  backend/custom_design/templates/confirmation_email.html
  backend/custom_design/urls.py
  backend/custom_design/views.py
  backend/main/settings.py
  backend/main/urls.py
  backend/order/migrations/0004_order_payed.py
  backend/order/migrations/0005_order_yer_mail.py
  backend/order/migrations/0006_rename_yer_mail_order_buyer_mail.py
  backend/order/models.py
  backend/order/serializer.py
  backend/order/templates/order_confirmation_email.html
  backend/order/views.py
  backend/population/02_Products.json
  backend/products/views.py
  backend/users/models.py
  backend/users/urls.py
  backend/users/views.py
  frontend/src/App.jsx
  frontend/src/assets/bx-menu.svg
  frontend/src/assets/bx-x.svg
  frontend/src/components/AddProduct.jsx
  frontend/src/components/Artist/Artist.css
  frontend/src/components/ArtistsGrid/ArtistsGrid.css
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Cart/Cart.jsx
  frontend/src/components/CustomDesign.css
  frontend/src/components/CustomDesign.jsx
  frontend/src/components/Footer/Footer.css
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/components/Logout.jsx
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/OrderCancelled.jsx
  frontend/src/components/OrderDetails.jsx
  frontend/src/components/Product.css
  frontend/src/components/Product.jsx
  frontend/src/components/Product/Product.css
  frontend/src/components/ProductsGrid/ProductsGrid.css
  frontend/src/components/ProductsGrid/ProductsGrid.jsx
  frontend/src/components/User.css
  frontend/src/components/User.jsx
  frontend/src/index.css
  frontend/src/pages/MainPage.jsx
  frontend/src/tests/AddProduct.test.jsx
Labels: test

#151 Feat/143 mejorar diseño de la vista resumen de pedido
  backend/order/views.py
  frontend/src/components/OrderDetails.jsx
  frontend/src/components/OrderProductResume.jsx/OrderProductResume.jsx
Labels: feature

#160 Test/90 test carrito
  frontend/package.json
  frontend/src/components/ArtistsGrid/ArtistsGrid.jsx
  frontend/src/components/Cart/Cart.jsx
  frontend/src/components/ProductsGrid/ProductsGrid.jsx
  frontend/src/tests/Cart.test.jsx
Labels: test

#157 Feature/155 Mejora del diseño del registro y el inicio de sesión
  frontend/src/assets/bx-left-arrow-alt.svg
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.jsx
  frontend/src/components/LoginForm/LoginForm.css
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/components/RegisterForm/RegisterForm.css
  frontend/src/components/RegisterForm/RegisterForm.jsx
Labels: frontend

#159 Fix/158 Eliminado upload_image
  backend/products/urls.py
  backend/products/views.py
  frontend/src/components/AddProduct.jsx
Labels: bug

#149 Feat/65 chat entre usuarios
  backend/chat/__init__.py
  backend/chat/admin.py
  backend/chat/apps.py
  backend/chat/migrations/0001_initial.py
  backend/chat/migrations/__init__.py
  backend/chat/models.py
  backend/chat/serializers.py
  backend/chat/tests.py
  backend/chat/urls.py
  backend/chat/views.py
  backend/main/settings.py
  backend/main/urls.py
  backend/requirements.txt
  backend/users/serializer.py
  backend/users/urls.py
  backend/users/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Chat/ChatComponent.css
  frontend/src/components/Chat/ChatComponent.jsx
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/components/User.jsx
  frontend/src/main.jsx
  frontend/src/pages/ChatPage.jsx
Labels: feature

#162 Test/87 registro
  backend/users/tests.py
Labels: test

#164 Test/94 inicio de sesion
  backend/users/tests.py
Labels: test

#166 Test/139 Cerrar Sesión
  frontend/src/tests/Logout.test.jsx
Labels: test

#165 Test/163 test detalles de un impresor
  frontend/src/tests/UserDetails.test.jsx
Labels: test

#168 Test/91 test script de correos
  backend/order/tests.py
Labels: test

#241 Feature/176 lógica buscador
  backend/products/views.py
  backend/users/migrations/0007_alter_customuser_postal_code.py
  backend/users/views.py
  frontend/src/App.jsx
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
  frontend/src/components/ItemsList/ItemsList.css
  frontend/src/components/ItemsList/ItemsList.jsx
  frontend/src/components/SearchResults.jsx
Labels: feature

#243 Feature/227 Mis pedidos
  backend/main/urls.py
  backend/order/views.py
  frontend/src/App.jsx
  frontend/src/assets/myOrder.png
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
  frontend/src/components/myOrders/myOrders.jsx
Labels: feature

#239 Feature/193 feature subir opinión
  backend/main/urls.py
  backend/opinion/forms.py
  backend/opinion/serializer.py
  backend/opinion/urls.py
  backend/opinion/views.py
  frontend/src/components/AddOpinion.css
  frontend/src/components/AddOpinion.jsx
  frontend/src/components/User.css
  frontend/src/components/User.jsx
Labels: frontend, backend, feature

#246 Feat/198 feature conversión stl
  backend/Dockerfile
  backend/conversion_to_stl/__init__.py
  backend/conversion_to_stl/admin.py
  backend/conversion_to_stl/apps.py
  backend/conversion_to_stl/migrations/__init__.py
  backend/conversion_to_stl/models.py
  backend/conversion_to_stl/tests.py
  backend/conversion_to_stl/to_stl.py
  backend/conversion_to_stl/urls.py
  backend/conversion_to_stl/views.py
  backend/main/settings.py
  backend/main/urls.py
  backend/requirements.txt
  frontend/src/App.jsx
  frontend/src/components/ConvertToSTL/ConvertToSTL.css
  frontend/src/components/ConvertToSTL/ConvertToSTL.jsx
  frontend/src/pages/MainPage.jsx
Labels: frontend, backend, feature

#245 Fix/233 problema token (2)
  .github/workflows/backend-ci.yml
  backend/main/settings.py
  backend/main/urls.py
  backend/order/tests.py
  backend/order/views.py
  backend/tokens/__init__.py
  backend/tokens/admin.py
  backend/tokens/apps.py
  backend/tokens/migrations/__init__.py
  backend/tokens/models.py
  backend/tokens/serializer.py
  backend/tokens/tests.py
  backend/tokens/urls.py
  backend/tokens/views.py
  backend/users/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/context/AuthContext.jsx
  frontend/src/tests/UserDetails.test.jsx
Labels: bug, frontend, backend

#248 Feature/179 Apartado de solicitudes de impresión
  backend/custom_design/models.py
  backend/custom_design/serializer.py
  backend/custom_design/urls.py
  backend/custom_design/views.py
  frontend/src/App.jsx
  frontend/src/components/Design/CustomDesign.css
  frontend/src/components/Design/CustomDesign.jsx
  frontend/src/components/Design/CustomDesignPrinters.css
  frontend/src/components/Design/CustomDesignPrinters.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/pages/PrinterDesigns.jsx
Labels: feature

#252 Feat: Añadir foto de perfil en el registro
  backend/users/migrations/0007_customuser_profile_picture_and_more.py
  backend/users/migrations/0008_merge_20240312_2019.py
  backend/users/models.py
  backend/users/serializer.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/edit.svg
  frontend/src/components/Modal/Modal.css
  frontend/src/components/Modal/Modal.jsx
  frontend/src/components/RegisterForm/RegisterForm.css
  frontend/src/components/RegisterForm/RegisterForm.jsx
Labels: feature

#247 Feat: Mis chats
  backend/chat/urls.py
  backend/chat/views.py
  backend/users/migrations/0007_alter_customuser_postal_code.py
  backend/users/serializer.py
  frontend/src/App.jsx
  frontend/src/assets/mensajero.png
  frontend/src/components/Chat/ChatComponent.css
  frontend/src/components/Chat/ChatComponent.jsx
  frontend/src/components/Chat/UserChatList.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/LoginForm/LoginForm.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navigation.jsx
  frontend/src/components/User.jsx
  frontend/src/pages/ChatPage.jsx
Labels: frontend, feature

#272 Feat: Editar mi producto
  backend/products/views.py
  frontend/src/App.jsx
  frontend/src/components/EditProduct.jsx
  frontend/src/components/Product.jsx
Labels: feature

#271 feat: listado de mis productos
  frontend/src/components/ProductsList.jsx
Labels: frontend, feature

#276 Feat: Favicon y títulos de navegación
  frontend/index.html
  frontend/public/favicon.ico
  frontend/public/vite.svg
  frontend/src/components/AddProduct.jsx
  frontend/src/components/BuyPlan/BuyPlan.jsx
  frontend/src/components/BuyPlan/CancelPlan.jsx
  frontend/src/components/BuyPlan/ConfirmPlan.jsx
  frontend/src/components/Cart/Cart.jsx
  frontend/src/components/ConvertToSTL/ConvertToSTL.jsx
  frontend/src/components/CustomDesign.jsx
  frontend/src/components/CustomDesignCancelled.jsx
  frontend/src/components/CustomDesignDetails.jsx
  frontend/src/components/Design/CustomDesignPrinters.jsx
  frontend/src/components/OrderCancelled.jsx
  frontend/src/components/OrderDetails.jsx
  frontend/src/components/PageTitle/PageTitle.jsx
  frontend/src/components/Product.jsx
  frontend/src/components/ProductsList.jsx
  frontend/src/components/SearchResults.jsx
  frontend/src/components/User.jsx
  frontend/src/components/myOrders/myOrders.jsx
  frontend/src/pages/ArtistsPage.jsx
  frontend/src/pages/ChatPage.jsx
  frontend/src/pages/DesignsPage.jsx
  frontend/src/pages/LoginFormPage.jsx
  frontend/src/pages/MaterialsPage.jsx
  frontend/src/pages/PiecesPage.jsx
  frontend/src/pages/PrinterDesigns.jsx
  frontend/src/pages/PrintersPage.jsx
  frontend/src/pages/RegisterFormPage.jsx
Labels: frontend

#268 Fix/255 Corregir listado de mis pedidos
  backend/order/tests.py
  backend/order/views.py
  frontend/src/components/OrderDetails.jsx
Labels: bug

#267 Test/219 Conversión stl
  backend/conversion_to_stl/files/FinalBaseMesh.obj
  backend/conversion_to_stl/tests.py
  backend/conversion_to_stl/views.py
  frontend/src/components/ConvertToSTL/ConvertToSTL.jsx
Labels: test

#278 Feature/194 feature mostrar opiniones
  backend/opinion/views.py
  frontend/src/components/Opinion.css
  frontend/src/components/Opinion.jsx
  frontend/src/components/User.css
  frontend/src/components/User.jsx
Labels: feature

#279 Feature/277 fix detalles de usuario
  frontend/src/components/Follow/FollowBotton.jsx
  frontend/src/components/SearchResults.jsx
  frontend/src/components/User.css
  frontend/src/components/User.jsx
Labels: bug

#284 feature/280 feature añadir ca y política de privacidad
  frontend/src/App.jsx
  frontend/src/components/Cart/Cart.jsx
  frontend/src/components/CustomDesign.jsx
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/RegisterForm/RegisterForm.jsx
  frontend/src/pages/PrivacityPage.jsx
  frontend/src/pages/TermsPage.jsx
Labels: documentation, feature

#286 Feature/183 edición de perfil
  backend/custom_design/views.py
  backend/users/serializer.py
  backend/users/urls.py
  backend/users/views.py
  frontend/src/App.jsx
  frontend/src/components/ArtistsGrid/ArtistsGrid.jsx
  frontend/src/components/EditProfileForm/EditForm.css
  frontend/src/components/EditProfileForm/EditForm.jsx
  frontend/src/components/User.jsx
  frontend/src/pages/EditProfilePage.jsx
Labels: feature

#288 fix: cambio en el correo y implementación lista negra
  backend/main/settings.py
  backend/order/views.py
Labels: bug, backend

#273 test: test sobre listado de productos
  backend/products/tests.py
  frontend/src/tests/LisProducts.test.jsx
Labels: test

#283 Feature/262 mejoras usurios pilotos 2
  backend/users/migrations/0010_customuser_description.py
  backend/users/models.py
  frontend/src/components/Cart/Cart.jsx
  frontend/src/components/CustomDesign.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/RegisterForm/RegisterForm.css
  frontend/src/components/RegisterForm/RegisterForm.jsx
  frontend/src/components/User.css
  frontend/src/components/User.jsx
Labels: feature

#301 Feat: Rediseño de detalles de usuario y perfil
  frontend/src/components/AddOpinion.css
  frontend/src/components/AddOpinion.jsx
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Follow/FollowBotton.jsx
  frontend/src/components/Opinion.css
  frontend/src/components/Opinion.jsx
  frontend/src/components/ProductsGrid/ProductsGrid.css
  frontend/src/components/ProductsGrid/ProductsGrid.jsx
  frontend/src/components/ProfileIcon/ProfileIcon.css
  frontend/src/components/ProfileIcon/ProfileIcon.jsx
  frontend/src/components/User.css
  frontend/src/components/User.jsx
Labels: frontend

#298 (feature) Chat Responsive
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/Chat/ChatComponent.css
  frontend/src/components/Chat/ChatComponent.jsx
  frontend/src/components/Chat/UserChatList.jsx
  frontend/src/context/AuthContext.jsx
  frontend/src/pages/ChatPage.jsx
Labels: frontend, feature

#304 Fix: Corrección de estilos
  frontend/src/components/ArtistsGrid/ArtistsGrid.jsx
  frontend/src/components/Cart/Cart.css
  frontend/src/components/Footer/Footer.css
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
Labels: bug, frontend

#309 Fix: Correcciones visuales en la aplicación
  frontend/src/App.jsx
  frontend/src/components/Chat/ChatComponent.css
  frontend/src/components/Paginator/Paginator.css
  frontend/src/index.css
Labels: bug, frontend

#305 Feat: Añadir diseño al subir producto y adjuntarlo tras su compra
  backend/order/templates/order_confirmation_email.html
  backend/order/tests.py
  backend/order/views.py
  backend/products/migrations/0006_product_design.py
  backend/products/migrations/0008_merge_20240322_1712.py
  backend/products/models.py
  backend/products/serializer.py
  backend/products/views.py
  backend/users/migrations/0011_customuser_email_verified.py
  frontend/src/components/AddProduct.jsx
  frontend/src/components/EditProduct.jsx
  frontend/src/components/Product.jsx
Labels: feature

#314 Test: Post de comunidad
  backend/community/tests.py
Labels: test

#313 Test: get profile
  backend/users/tests.py
Labels: test

#319 Test: Pruebas custom design
  backend/chat/tests.py
  backend/custom_design/files/Dragon.stl
  backend/custom_design/tests.py
Labels: test

#323 Fix: Errores test custom design
  backend/custom_design/tests.py
Labels: bug

#324 Test: Edición de productos
  backend/products/tests.py
Labels: test
